* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.index_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index_menu {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  width: 100%;
  top: 0;
  background-color: antiquewhite;
  z-index: 1;
}

.index_menu .logo {
  display: flex;
  align-items: center;

  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 0px 20px;
}

.index_menu .logo img {
  height: 40px;
}

.index_menu .search {
  display: flex;
  align-items: center;
}

.index_menu .search input {
  font-size: 16px;
  height: 28px;
  width: 500px;
  padding: 0px 15px;
  outline: none;
  border: 1px solid black;
}
.index_menu .search button {
  font-size: 12px;
  width: 70px;
  height: 28px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

.index_menu .tab {
  display: flex;
  align-items: center;
}

.index_menu .tab .user {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.index_menu .tab .img {
  width: 40px;
  height: 40px;
  border-radius: 20px;

  background-size: cover;
  background-position: center;
}

.index_menu .tab .name {
  margin-left: 10px;
}

.index_menu .item,
.index_menu .btn {
  padding: 0px 10px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.index_menu .tab .signout {
  color: rgb(211, 121, 121);
}

.index_menu .btn,
.index_menu #checkbox {
  display: none;
}

@media (max-width: 600px) {
  .index_menu .btn {
    display: block;
  }

  .index_menu {
    height: 55px;
  }

  .index_menu .logo span,
  .index_menu .tab .space {
    display: none;
  }

  .index_menu .search input {
    width: 175px;
  }

  .index_menu .search button {
    width: 50px;
  }

  .index_menu .tab {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(253, 253, 253);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 55px;
    left: 0px;
  }

  .index_menu .item {
    display: block;
    width: 100%;
    padding: 10px 20px;
  }

  .index_menu #checkbox:checked ~ .tab {
    height: calc(100vh - 55px);
    overflow-y: auto;
  }
}

/* banner */
.index_banner {
  background-image: url("https://wallpapercave.com/wp/wp4600617.jpg");
  background-size: cover;
  background-position: center;

  height: 70vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.index_banner .title {
  font-size: 32px;
  color: white;
  font-weight: bold;
  padding-bottom: 150px;

  text-align: center;
}

@media (max-width: 600px) {
  .index_banner .title {
    padding-bottom: 80px;
  }
}

/* tab */
.index_tab {
  display: flex;
  justify-content: center;
}

.index_tab input {
  display: none;
}

.index_tab .btn {
  padding: 5px 30px;
  margin-top: 30px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}

.index_tab #discover:checked ~ .discover {
  border-bottom: 3px solid #6ab04c;
}

.index_tab #discover:checked ~ #discover {
  display: block;
}

.index_tab #schedule:checked ~ .schedule {
  border-bottom: 3px solid #6ab04c;
}

.index_tab #schedule:checked ~ #schedule {
  display: block;
}

.index_tab #individual:checked ~ .individual {
  border-bottom: 3px solid #6ab04c;
}

.index_tab #individual:checked ~ #individual {
  display: block;
}

@media (max-width: 600px) {
  .index_tab .btn {
    padding: 5px 18px;
  }
}

/* content */

.index_content {
  width: 1300px;
  margin-top: 100px;

  column-count: 3;
  column-gap: 20px;
  display: none;
  position: absolute;
}

.index_content .item {
  margin-top: 20px;
  display: inline-block;
  width: 100%;

  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;

  color: black;
  text-decoration: none;
}

.index_content .item img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

.index_content .item .title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .index_content {
    margin-top: 55px;
    width: 100%;
    column-count: 1;
  }

  .index_content .item {
    padding: 0 20px;
  }
}
